@page {
  margin: 20mm;
}

@media print {
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  #toolbar {
    display: none;
  }

  html,
  body,
  #root > div,
  .editor-container,
  .code-editor {
    max-width: auto !important;
    height: auto !important;
    min-height: auto !important;
    overflow: visible !important;
    background: none !important;
    & > pre {
      padding: 0 !important;
    }
  }
}
